@import "tailwindcss";

@theme {
  --color-indigo-velvet: #4b296b;
--color-dark-emerald: #0b6e4f;
--color-mint-cream: #ebf5ee;
--color-ruby-red: #a31621;
--color-pitch-black: #191102;
}

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  width: 100%;


}


body {
  font-family: 'Inter', sans-serif;
  color: #191102;
  background: #fdfdfd;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
